:root {
    --globalColorBg: #fdfdff !important;
}

body {
    background-color: var(--globalColorBg);
}

.main {
    width: 310px;
    margin: 20px;
}

div.board {
    display: grid;
    border: 2px solid #000;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

div.square {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border: 2px solid #123;
    box-sizing: border-box;
    font-size: 1.2rem;
    text-align: center;
}